@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-mono: "JetBrains Mono", "monospace";

  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-cyan-500: #06b6d4;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-slate-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}